<h1>New User</h1>
<form action="new.html_submit" method="get" accept-charset="utf-8">
  <label for="username">Username:</label>
  <input type="text" value="@johndoe" name="username" id=""/>

  <label for="Email:">Email:</label>
  <input type="text" name="email:" id="email" value="example@gmail.com" />

  <label for="password">Password:</label>
  <input type="text" name="password" id="password" value="password" />

  <label for="confirm_password">Confirm Password:</label>
  <input type="text" name="confirm_password" id="confirm_password" value="confirm_password" />
</form>
